<h1>Welcome to Build-Your-Own Burger!</h1>
<a href='/ingredients' class='button'>View, add, and edit ingredients</a>
<a href='/order' class='button'>Order a burger</a>
<a href='/kitchen' class='button'>View/complete orders</a>