/** Importing fonts from Google **/
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic,900italic|Open+Sans:400,400italic,600,700,600italic,700italic);


body{
	font: 12px 'Lato', sans-serif;
	height: 100%;
}

div {
	margin-right: auto;
	margin-left: auto;
	letter-spacing: 0;
}

.button{
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;

	text-decoration: none;
	color: initial;
}

.container {
	float: left;
	width: 80%;
	clear: both;
}

.user {
	position: right;
}

.message {
	position: left;
}

.clicked {
	color: #2f4f4f; /*dark grey*/
}

.sidebar {
	float: right;
	width: 20%;
	background-color: #d3d3d3; /*light grey*/
	text-align: center;
}

#logout {
	float: right;
}

#hidden-template-li {
  display: none;
}

.login-container {
	float: left;
	width: 100%;
}