<h1>Twoter</h1>

{{#if this.name}}
	<h3>Welcome {{this.name}}</h3>
	<!-- following action -->
	<form action='logout' method='POST' id='logout'>
		<input type='submit' value='Logout'>
	</form>
	
	<!-- ignoring action and looking at js in main.js -->
	<form action='addTwote' method='POST' id='twotForm'>
		Twot Message: <input type='text' name='message'/><br/>
	    <input type='submit' value='Twot'><br/>
	</form>

{{else}}
	<a href='/login' class='button'>Login</a>
{{/if}}

<div class='container'>
	<h3>Twotes</h3>
	<div id='twotes'>
		{{#each twotes}}{{/each}}
	</div>

	
</div>

<div id='sidebar'>
	<h3>List of Twoters</h3>
	{{#each user}}
		<div id='twoters'>
			<p>{{username}}</p>
		</div>
	{{/each}}
</div>
