<h1>Twoter</h1>

<div class = login-container>
	<form action="/login" method="POST" id='login'>
    Username: <input type="text" name="user"/><br/>
    <input type="submit" value="Login"><br/>
  </form>
</div>